.wrapper{
    width:100vw;
    height:7vh;
    background-color: pink;
}

.list{
    height:inherit;
    width:inherit;
    display:flex;
    justify-content: space-around;
}

.list ul li{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
}

.list ul li:hover{
    cursor:pointer;
}
